@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card border-primary mb-3">
  <div class="card-header text-center">You dont have a profile!</div>
  <div class="card-body justify-content-center">
      <center>
    <img src="~/img/nopfp.png" class="pfp-round" />
    <p class="card-text"><span class="text-warning">Hey There! You should consider signing up so you can save your high scores!</span></p>
        </center>
    </div>
  </div>