@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
}
@model ToweBones.Data.SkeleDAL;

@*Insert Game Here


	ViewData["Title"] = "Game";
}
<form asp-controller ="Home" asp-action="ScoreInput"/>
<input type="hidden" name="debt" value="" />
<input type="hidden" name="level" value="" />
<button type="submit"></button>
</form>*@

 <iframe style="border:none;"width="100%" height="1000vh" src="https://mk1k.net/Hosting/Build/index.html" title="description"></iframe> 
